// fonts
$main-font: 'Nunito', sans-serif;

// colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$grey-background-color: #D0CFCF;
$grey-input-text-color: #7E7E7E;

$button-hover-color: #FFE302;
$button-disabled-color: #B4B4B4;

$main-text-color: rgba(0, 0, 0, 0.87);
$white-text-color: #FFFFFF;

// for js
:export {
  mainFont: $main-font;

  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  backgroundColor: $background-color;
  greyBackgroundColor: $grey-background-color;
  greyInputTextColor: $grey-input-text-color;
  buttonHoverColor: $button-hover-color;
  buttonDisabledColor: $button-disabled-color;
  mainTextColor: $main-text-color;
  whiteTextColor: $white-text-color;
}