// fonts
$main-font: 'Nunito', sans-serif;

// colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$grey-background-color: #D0CFCF;


$main-text-color: rgba(0, 0, 0, 0.87);
$white-text-color: #FFFFFF;









