@import "src/const/variables";

.signUpForm {
  padding: 0 16px 100px 16px;
  text-align: center;

  &__title {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: $main-text-color;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__information {
    list-style: none;
  }

  &__input {

    &::placeholder {
      color: $grey-input-text-color;
    }

    input {
      font-family: $main-font;
      padding: 16px;
    }
  }

  button {
    width: 100px;
    height: 34px;
    margin: 0 auto;
  }
}




